<div class="container-fluid middleInnerContainer">
    <h1 style="text-align: center">Fluids</h1>
    <!------ BREAD CRUMB STARTS -------->
    <ul class="breadcrumb" style="text-align: center; background-color: transparent">
        <li><a href="/data_entry">Personal</a></li>
        <li class="active">Fluids</li>
        <li><a href="/machinery_data_entry">Machinery</a></li>
        <li><a href="summary_data_entry">Summary</a></li>
    </ul>
    <!--------------- ITEM 1 ---------------->
    <div class="col-md-12 col-lg-12" style="text-align: center; margin-bottom: 5px">
        <label class="loginLabel">Litres Added</label>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Engine Oil</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn-group" role="group" style="padding-right: 5px">
            <input type="number" class="form-control machineryEntryField" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--------------- ITEM 2 ---------------->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Radiator</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn-group" role="group" style="padding-right: 5px">
            <input type="number" class="form-control machineryEntryField" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
        </div>
    </div>

    <!----- NAV BUTTONS ------->
    <div class="row" style="margin-top:20px">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"">
        <a href="/data_entry" role="button" class="btn btn-default">< Back</a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right">
        <a href="/machinery_data_entry" role="button" class="btn btn-default">Next ></a>
    </div>
</div>
</div>