<div class="container-fluid middleInnerContainer">
    <h1 style="text-align: center">Machinery</h1>
    <!------ BREAD CRUMB STARTS -------->
    <ul class="breadcrumb progressbar" style="text-align: center; background-color: transparent">
        <li>Personal</li>
        <li>Fluids</li>
        <li style="color:white">Machinery</li>
        <li>Summary</li>
    </ul>

    <!-------------- FAULTS LABEL --------------->
    <div class="col-md-12" style="text-align: center; margin-top: 10px; margin-bottom: 5px">
        <label class="loginLabel">Faults</label>
    </div>
    <!---------------- ITEM 1 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Auto Grease/Greased</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 2 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Wheels/Tracks/Wheel Nuts/Spockets</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 3 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Quick Hitch</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 4 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Drained Air Tanks</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 5 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Paint Panel Damage</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 6 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Ground Engaging Tools</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 7 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Chains/Strops Tagged/Onboard</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">Yes</button>
            <button type="button" class="btn btn-default">No</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 8 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Hydraulic Hoses</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 9 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Lights and Hazards</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 10 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Fire Extinguisher</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 11 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Emergency Bowl Drop</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 12 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Safety Systems</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 13 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Gauges</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 14 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Mirrors, Windows, Camera</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 15 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">GPS Callibration/Blade Wear</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 16 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Park Brake/Foot Brake</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Fault</button>
            <button type="button" class="btn btn-default">NA</button>
        </div>
    </div>
    <!---------------- ITEM 17 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">Cab Tidy</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">Yes</button>
            <button type="button" class="btn btn-default">No</button>
        </div>
    </div>
    <!---------------- ITEM 18 ---------------->
    <div class="row" style="margin-top:10px">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" style="text-align: right">
            <div class="form-group has-success has-feedback">
                <label class="loginLabel">WOF/Rego/RUC</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" role="group">
            <button type="button" class="btn btn-default">OK</button>
            <button type="button" class="btn btn-default">Required</button>
        </div>
    </div>

    <!----- NAV BUTTONS ------->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px">
        <input class="btn btn-default" onclick="prev_step2()" type="button" value="< Back">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0px; text-align: right">
        <input class="btn btn-default" onclick="next_step3()" type="button" value="Next >">
    </div>
</div>