<div class="container-fluid middleInnerContainer">
    <h1 style="text-align: center">Personal</h1>
    <!------ BREAD CRUMB STARTS -------->
    <ul class="breadcrumb" style="text-align: center; background-color: transparent">
        <li class="active">Personal</li>
        <li><a href="/fluids_data_entry">Fluids</a></li>
        <li><a href="/machinery_data_entry">Machinery</a></li>
        <li><a href="summary_data_entry">Summary</a></li>
    </ul>
    <!------ ITEM 1 STARTS ------>
    <div class="form-inputs">

        <div class="form-group has-success has-feedback">
            <label class="loginLabel">Machine No.</label>
            <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <div class="form-group has-success has-feedback">
            <label class="loginLabel">Machine No.</label>
            <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px">
                <a href="/" role="button" class="btn btn-default">Cancel</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0px; text-align: right">
                <a href="/fluids_data_entry" role="button" class="btn btn-default">Next ></a>
            </div>
        </div>
    </div>

</div>