<ul class="listType">
    <li><a href="/">Home</a></li>
    <li><a href="/">Register</a></li>
    <li><a href="/users">Login</a></li>
    <li><a href="/">Items</a></li>
    <li><a href="/data_entry">Data Entry</a></li>
    <li><a href="/">Logout</a></li>
</ul>