<ul class="listType">
    <li><a href="/">Home</a></li>
    <li><a href="/">Register</a></li>
    <li><a href="/">Login</a></li>
    <li><a href="/">Items</a></li>
    <li><a href="/data_entry">Personal</a></li>
    <li><a href="/">Fluids</a></li>
    <li><a href="/">Machinery</a></li>
    <li><a href="/">Logout</a></li>
</ul>