<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 middleInnerContainer">
        <h1 style="text-align: center; color:#847A84">Summary</h1>
        <!------ BREAD CRUMB STARTS -------->
        <ul class="breadcrumb" style="text-align: center; background-color: transparent">
            <li>Personal</li>
            <li>Fluids</li>
            <li>Machinery</li>
            <li style="color:white">Summary</li>
        </ul>
        <div class="container-fluid">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px">
                <input class="btn btn-default" onclick="prev_step3()" type="button" value="< Back">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0px; text-align: right">
                <input class="submit_btn btn btn-default" onclick="validation(event)" type="submit" value="Submit">
            </div>
        </div>
    </div>
</div>
</div>