<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 adminInnerContainer">
        <h1 style="text-align: center; color:#847A84">Summary</h1>
        <!------ BREAD CRUMB STARTS -------->
        <ul class="breadcrumb" style="text-align: center; background-color: transparent">
            <li><a href="/data_entry">Personal</a></li>
            <li><a href="/fluids_data_entry">Fluids</a></li>
            <li><a href="/machinery_data_entry">Machinery</a></li>
            <li class="active">Summary</li>
        </ul>
        <div class="container-fluid">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px">
                <a href="/fluids_data_entry" role="button" class="btn btn-default">< Back</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0px; text-align: right">
                <a href="/summary_data_entry" role="button" class="btn btn-default">Next ></a>
            </div>
        </div>
    </div>
</div>
</div>