<!DOCTYPE html>
<html>
<head>
    <% include partials/head-partial %>
</head>

<!-------------------- NAV BAR ------------------------->
<header>
    <% include partials/navbar-partial %>
</header>


<body>
<!--------------------------------------- SIDE NAV BAR STARS -------------------------------------------->
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-1" style="padding: 0px 0px 0px 0px;">
    <% include partials/sidebar-partial %>
    </div>
    <!--------------------------------------- SIDE NAV BAR ENDS -------------------------------------------->
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
    <!--------------------------------------- PAGE CONTENT STARTS-------------------------------------------->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 middleInnerContainer">
        <p>INSERT CONTENT HERE</p>
    </div>
    <!--------------------------------------- PAGE CONTENT ENDS -------------------------------------------->
</div>
</body>
</html>
